/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


//@import 'bootstrap/mixins';
//@import 'bootstrap/reset';
//@import 'bootstrap/variables';

$navbarCollapseWidth : 60em;
$linkColor : #0044ee;
$linkColorHover : #0044ff;
$baseFontFamily : Arial, Helvetica, sans-serif;
$baseFontSize : 1em;
$baseLineHeight : 1.5em;
$textColor : #333;
$bodyBackground : #fff;

//@import 'bootstrap/navbar';
//@import 'bootstrap/navs';
//@import 'bootstrap/responsive-navbar';
//@import 'bootstrap/buttons';
//@import 'bootstrap/type';
//@import 'bootstrap/tables';
//@import 'bootstrap/utilities';
//@import 'bootstrap/responsive-utilities';
//@import 'bootstrap/sprites';
//@import 'bootstrap/forms';
//@import 'bootstrap/component-animations';

@import "compass/css3";
@import "_pure.0.1.0";
@import "_ggs";

/*=========================================

	Basic Styles

===========================================*/

* { margin:0; padding:0; } 


body {
  margin: 0;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $textColor;
  background-color: $bodyBackground;
}


/*=========================================

	Links & Typography

===========================================*/

a {
  color: $linkColor;
  text-decoration: none;
}
a:hover,
a:focus {
  color: $linkColorHover;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
}

p {
	margin: 0.5em 0 1.5em;
}


/*=========================================

	Sticky Footer
	http://css-tricks.com/snippets/css/sticky-footer/

===========================================*/

html, body, #outer-wrap { height: 100%; }

body > #outer-wrap {height: auto; min-height: 100%;}

#inner-wrap { padding-bottom: 150px; }  /* must be same height as the footer */

footer { 
    position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;
	background: black;
	color: white;
	padding: 20px 0px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
} 


/*=========================================

	Default is single column split into 4

===========================================*/


/*
*
*  Four-column grid active
    up to 45em/720px
*  ----------------------------------------
*  Margin   | #  1   2   3   4   |   Margin
*  5.55555% | %  25  50  75  100 | 5.55555%
*
*/


/*=========================================

	Media Queries
	Start with mobile and build up

===========================================*/

@media (min-width: $navbarCollapseWidth) {
	#inner-wrap {
		padding-top: 60px;
	}
}


/*
*
*  Eight-column grid active
*  up to 117em/1872px
*  ----------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8   |   Margin
*  5.55555% | %  12.5  25.0  37.5  50.0  62.5  75.0  87.5  100 | 5.55555%
*	
*
*/



/*
*
*  Sixteen-column grid active
*  ----------------------------------------------------------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8     9     10    11    12    13    14    15    16  |   Margin
*  5.55555% | %  6.25  12.5  18.75 25.0  31.25 37.5  43.75 50.0  56.25 62.5  68.75 75.0  81.25 87.5  93.75 100 | 5.55555%
*	
*
*/
