/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "bootstrap/bootstrap";
@import "bootstrap/responsive";
@import "compass/css3";


/*=========================================

	Basic Styles

===========================================*/

* { margin:0; padding:0; } 


body {
  margin: 0;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $textColor;
  background-color: $bodyBackground;
}




/*=========================================

	Links & Typography

===========================================*/

a {
  color: $linkColor;
  text-decoration: none;
}
a:hover,
a:focus {
  color: $linkColorHover;
  text-decoration: underline;
}

menu, ol, ul  {
  margin-left: 0;
  padding-left: 0;
}

ol li, ul li {
  margin-left: -2.5em;
  padding-left: .5em;
}


h1 {
  font-size: 2.5em;
  line-height: 1.2em;
}

h2 {
  font-size: 2.2em;
  line-height: 1.5em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.5em;
}

h4 {
  font-size: 1.3em;
  line-height: 1.5em;
}

h5 {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: bold;
}

h6 {
  font-size: 1em;
  line-height: 1.5em;
  font-style:italic;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 .5em;
}

p {
	margin: 0 0 1em;
}

hr {
	height: 0px;
	border:0px;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #ccc;
	margin:.5em 0 1.5em;
}

fieldset {
  margin-top: .5em;
}

blockquote {
  border-left :.3em solid #aaa;
  padding-left: .8em;
}

dd {
  margin: 0;
}


/*=========================================

	Menus - integrate bootstrap styles
	with wordpress menu, drop downs

===========================================*/

#inner-wrap {
    padding-top: 60px;
}

@media (max-width: 979px) {
	#inner-wrap {
	    padding-top: 0px;
	}
}

.current-menu-item {
	@extend .active;
}

.nav ul, .nav ol {
	list-style-type: none;
}

ul li, ol li {
	margin-left: 0px;
	padding-left: 0px;
}

.nav li a {
	display: block;
	float: none;
	padding: 10px 15px 10px;
	text-decoration: none;
	color: #999999;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.nav li a:hover {
	color: white;
}

ul.sub-menu {
	overflow: hidden;
	max-height: 0px;
	margin-top: 0;
	white-space:nowrap;
	opacity: 0;
	@include transition(all 500ms ease-in);
}


@media (min-width: 980px) {
	.navbar-inner {
		height: 41px;
	}

	ul.sub-menu {
		background: black;
		position: absolute;
		top:100%;
	}

	li:hover ul.sub-menu {
		max-height: 500px;
		opacity: 1;
	}
}

@media (max-width: 979px) {

	li.open ul.sub-menu {
		max-height: 500px;
		opacity: 1;
	}

}


/*=========================================

	Sticky Footer
	http://css-tricks.com/snippets/css/sticky-footer/

===========================================*/

html, body, #outer-wrap { height: 100%; }

body > #outer-wrap {height: auto; min-height: 100%;}

#inner-wrap { padding-bottom: 200px; }  /* must be same height as the footer plus extra for space*/

footer { 
    position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;
	background: black;
	color: white;
	padding: 20px 0px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
} 


