/*=========================================

	Basic Styles

	Some reponsive design helpers
	Major layout elements e.g. changes to containers go here

===========================================*/

body {
	min-width:320px;
}

img {
	max-width:100%;
	height:auto;
	width:auto;
	display:block;
}

#main {
	padding-top:50px;
}

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
