/*=========================================

	Forms

===========================================*/

label {
	margin-bottom:0;
	margin-top:.5rem;
}

input[type=submit] {
	@extend .btn;
	@extend .btn-primary;
	margin-top:.5rem;
}

input[type=text], input[type=email], input[type=password], input[type=url], textarea, select {
	@extend .form-control;
}

.required {
	color: $brand-warning;
}