.search-form {
	text-align:center;
	.search-text {
		display: inline-block;
		max-width:70%;
		margin-right:10px;
	}
}

#search-toggle {
	padding-left:5px;
	i {
		padding-left:5px;
	}
}

.navbar-search {
	display: inline-block;
	overflow:hidden;
    margin-bottom: -7px;
    width:0;
    transition:width 150ms ease-out;
    margin-top:5px;
	input[type=submit] {
		display: none;
		margin-right: 5px;
	}
	.search-text {
		border:none;
		padding-top:4px;
		padding-bottom:4px;
		max-width:95%;
	}
}

.open .navbar-search {
	width:228px;
}

.navbar-mobile-search {	
	color:white;
	padding:0.9375rem;
	position: relative;
	i {
		right: .7rem;
	    top: 1.4rem;
	    position: absolute;
	    cursor: pointer;
	}
	form {
		padding-right:32px;
	}
	input[type=submit] {
		display: none;
	}
	.search-text {	
		border:none;
		padding-top:4px;
		padding-bottom:4px;

	}
}



@include media-breakpoint-down(sm) {
	.navbar-mobile-search .search-form {
		text-align:right;
	}
}

@include media-breakpoint-down(xs) {
	.search {
		text-align:right;
		.search-text {
			max-width:none;
			margin-right:0px;
			margin-bottom: 10px;
		}
	}
}